body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 130%;
  padding: 1em;
  background-color: #efefef;
}

p {
  margin: 1em 0px;
  font-size: .9em;
}

h1 {
  font-size: 1.9em;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  line-height: 130%;
}

h2 {
  font-size: 1.2em;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
}

#searchContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 2em;
}

#searchBar, #departmentFilter {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: .9em;
  border: 2px solid #444;
  border-radius: 6px;
  box-sizing: border-box;
  appearance: none; /* removes the default browser styles */
  outline: none;
  transition: border-color 0.3s ease;
}

#searchBar:focus, #departmentFilter:focus {
  border-color: #007BFF;
}

#departmentFilter {
  background-image: url('chevron-down.svg');
  background-repeat: no-repeat; 
  background-position: right 0.5em top 50%;
  padding-right: 20px;
}

#searchContainer label {
  display: none;
}

.meetingMeta {
  display: flex;
  align-items: center;
  gap: .5em;
}

button {
  font-family: 'Roboto Mono', monospace;
  border: 1.5px solid #ddd;
  color: #000;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  border: 1.5px solid #000;
  transition: border-color 0.3s ease;
}

button:active {
  background-color: #000;
  color: #fff;
}

button:disabled {
  background-color: #ddd;
  color: #aaa;
  border: none;
  cursor: not-allowed;
}

.tag {
  font-family: 'Roboto Mono', monospace;
  color: #000;
  display: flex;
  padding: 6px 12px 6px 10px;
  border-radius: 6px;
  font-size: 0.8em;
  align-items: center;
}

.emoji {
  margin-right: 4px;
}

.tag.parks {
  background-color: #C8E6C9;
}

.tag.council {
  background-color: #C5CAE9;
}

.tag.planning {
  background-color: #FFCCBC;
}

#siteLogo {
  height: 50px;
  width: auto;
  margin: 1em auto 1em 0;
}

header a {
  display: inline-block;
}

header {
  margin-bottom: 2em;
}

.meeting {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 2em;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

#meetingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#meetingContainer .meeting {
  width: calc(33% - 1em);
}

#meetingContainer .meeting:first-child {
  width: 100%;
}

.videoContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.videoContainer iframe,
.videoContainer .thumbnailContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnailContainer {
  background: #000;
  cursor: pointer;
}

.thumbnailContainer .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
}

.thumbnailContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #fff;
}

.infoContainer {
  padding: 0 1.5em 1.5em 1.5em;
}

.highlight {
  background: #007BFF;
}

.shortSummary {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fullSummary {
  display: block;
}

footer {
  margin: 0 auto;
  font-size: 0.9em;
}

@media (max-width: 767px) {
  #meetingContainer .meeting {
    width: 100%;
  }
  
  .thumbnailContainer .playButton {
    font-size: xxx-large;
  }

  #searchContainer {
    display: flex;
    flex-wrap: wrap;
  }

  #departmentFilter {
    width: 100%;
  }
}
